<!-- Gallery section -->

<hr>
<div class="row" id="gallery">
    <div class="col">
        <h2 class="mb-1"><i class="fas fa-camera" aria-hidden="true"></i> gallery</h2>
        <p></p>
        <div id="filters-pictures">
            <button class="filter-button active" data-filter="*">all</button>
            {% for category in site.data.gallery.categories %}
                <button class="filter-button" data-filter="{{ category.data-filter }}">{{ category.category-name }}</button>
            {% endfor %}
        </div>
        <p></p>
        <div id="gallery-pictures" class="gallery">
            {% for picture in site.data.gallery.pictures %}
                {% include_relative _libs/gallery_widget.html %}
            {% endfor %}
        </div>
        <p></p>
    </div>
</div>
